* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    margin: 25px;
}

.photo {
    width: 800px;
    height: 600px;
    object-fit: cover;
}

.button {
    width: 400px;
}

.arrow {
    width: 20px;
    height: 20px;
}